* {
    margin: 0;
    padding: 0;
}

.header {
    height: 75px;
    background-color: #222222;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__items {
    padding: 18px 0 18px 0;
    display: flex;
    justify-content: space-between;
}

.left__margin {
    margin-right: 41px;
}

.right__margin {
    margin-right: 33px;
}

.overlay {
    position: absolute;
    left: 0;
    right:0;
    top: 75px;
    height: 764px;
    display: flex;
    justify-content:flex-end;
    display: none; 
  }

.overlay-open {
    display: flex;
  }

.menu {
    background-color: white;
    width: 232px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    box-shadow: -9px 5px 10px -2px rgb(221 221 221);
  }

.menu-close-btn {
    position: absolute;
    right: 10px;
    top:10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

.menu__header {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 4px;
}

.menu__heading {
    padding-bottom: 12px;
    padding-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.menu-list {
    list-style-type: none;
}

.menu-item {
    padding-bottom: 12px;
    padding-left: 20px;
}

.menu-link {
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.menu-link:hover {
    color: #F16D7F;
}

.brand {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.brand__container {
    display: flex;
}

.man__img {
    margin-left: -200px;
}

.brand__name {
    color: #222222;
    align-self: center;
    max-width: 320px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.span {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.span2 {
    color: #F16D7F;
}

.span3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
}

.items__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.item {
    display: flex;
    justify-content: center;
}

.item1 {
    width: 360px;
    height: 260px;
    background-image: url(../img/item1.png);
    background-repeat: no-repeat;
}

.item2 {
    width: 360px;
    height: 260px;
    background-image: url(../img/item2.png);
    background-repeat: no-repeat;
}

.item3 {
    width: 360px;
    height: 260px;
    background-image: url(../img/item3.png);
    background-repeat: no-repeat;
}

.item4 {
    width: 100%;
    height: 180px;
    background-image: url(../img/item4.png);
    background-repeat: no-repeat;
}

.item__link {
    text-decoration: none;
}

.text {
    max-width: 100px;
    color: white;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-top: 100px;
}

.textItem {
    max-width: 125px;
}

.textItem2 {
    max-width: 170px;
    padding-top: 80px;
}

.item4__container {
    margin-bottom: 96px;
}

.featuredItems {
    text-align: center;
    margin-bottom: 48px;
}

.featured__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.featured__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products__parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 58px;
}

.prod {
    max-width: 360px;
    background-color: #F8F8F8;
}

.prod__name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 13px;
}

.prod__link {
    text-decoration: none;
}

.prod__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
    padding-bottom: 18px;
    max-width: 315px;
}

.prod__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
    padding-bottom: 20px;
}

.prod__margin {
    margin-bottom: 30px;
}

.img__hover {
    position: relative;
    display: none;
    margin-top: -424px;
}

.cart__button {
    position: absolute;
    width: 138px;
    height: 43px;
    border: 1px solid #FFFFFF;
    background-color: Transparent;
    cursor: pointer;
    color: white;
    top: 188px;
    left: 110px;
}

.cart__img {
    position: relative;
}

.cart__link {
    text-decoration: none;
}

.cart__button:hover {
    cursor: pointer;
}

.prod__hover:hover ~ .img__hover {
    display: block;
}

.button {
    display: block;
    text-align: center;
    margin-bottom: 95px;
}

.browseButton {
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    background: white;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    padding: 14px 38px;
}

a.browseButton:hover {
    color: white;
    background-color: #F16D7F;
}

.footer {
    height: 785px;
    background-color: #222224;
    padding-top: 103px;
}

.deliveryAndInfo {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    margin-bottom: 104px;
}

.devItem {
    max-width: 360px;
}

.devImg {
    margin-bottom: 28px;
}

.devImg2 {
    margin-bottom: 23px;
}

.h3 {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    margin-bottom: 16px;
}

.footerText {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    opacity: 0.6;
}

.subscribe {
    position: relative;
}

.sub__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -350px;
    gap: 330px;
}

.subImg {
    width: 100%;
    height: 450px;
}

.feedback {
    max-width: 360px;
}

.woman {
    margin-bottom: 30px;
}

.subText {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    font-style: italic;
}

.h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.subText2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.form {
    display: flex;
}

.email {
    width: 256px;
    height: 49px;
    top: 243px;
    left: 917px;
    background: #E1E1E1;
    border-radius: 20px 0 0 20px;
    border: none;
    color: #222224;
    opacity: 0.67;
    padding-left: 20px;
}

.email:focus {
    outline: none;
}

.submit:hover {
    cursor: pointer;
}

.submit {
    width: 100px;
    height: 48px;
    top: 243px;
    left: 917px;
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
}

.rights {
    margin-top: 30px;
}

.contacts {
    margin-top: 25px;
}

.textRights {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    font-weight: 400;
}

@media (max-width: 768px) {

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .left__margin {
        margin-left: 16px;
    }

    .brand {
        height: 368px;
        margin-bottom: 20px;
    }

    .brand__container {
        height: 368px;
    }

    .brand__name {
        max-width: 297px;
    }

    .span {
        font-size: 44px;
        line-height: 53px;
    }

    .span3 {
       font-size: 24px;
       line-height: 28.8px;
    }

    .man__img {
        margin-left: 0;
    }

    .sub__container {
        flex-direction: column;
        margin-top: -590px;
        gap: 48px;
        margin-left: 25%;
    }

    .prod__margin__ad {
        margin-bottom: 30px;
    }

    .deliveryAndInfo {
        flex-direction: column;
        gap: 48px;
        margin-bottom: 64px;
        margin-left: 25%;
    }

    .footer {
        height: 1365px;
        padding-top: 64px;
    }

    .subImg {
        height: 693px;
    }

    .item1 {
        width: 232px;
        height: 167px;
    }

    .item2 {
        width: 232px;
        height: 167px;
    }

    .item3 {
        width: 232px;
        height: 167px;
    }

    .text {
        padding-top: 70px;
    }

    .items__container {
        margin-bottom: 20px;
    }

    .basket__margin__ad {
        margin-right: 16px;
    } 
}

@media (max-width: 701px) {

    .prod5__margin__ad {
        margin-bottom: 30px;
    }

    .products__parent {
        margin-left: 23%;
    }
}

@media (max-width: 375px) {

    .checkout__ad {
        display: none;
    }

    .basket__margin__ad {
        display: none;
    }

    .man__img {
        display: none;
    }

    .items__container {
        flex-direction: column;
    }

    .item1 {
        width: 343px;
        height: 247px;
        margin-bottom: 32px;
    }

    .item2 {
        width: 343px;
        height: 247px;
        margin-bottom: 32px;
    }

    .item3 {
        width: 343px;
        height: 247px;
        margin-bottom: 15px;
    }

    .brand {
        height: 363px;
        margin-bottom: 64px;
    }

    .brand__name {
        max-width: 247px;
        margin-left: 30px;
    }

    .span {
        font-size: 38px;
        line-height: 45px;
    }

    .span3 {
       font-size: 20px;
       line-height: 24px;
    }

    .burger__ad {
        padding-top: 10px;
    }

    .left__margin {
        margin-left: 0;
    }

    .right__margin {
        margin-right: 0;
    }

    .text {
        padding-top: 100px;
    }

    .item4 {
        height: 111px;
    }

    .textItem2 {
        padding-top: 45px;
    }

    .products__parent {
        margin-left: -8px;
        margin-right: 8px;
    }

    .deliveryAndInfo {
        margin-left: 0;
    }

    .email {
        width: 222px;
        margin-left: 8px;
    }

    .sub__container {
        margin-left: -8px;
    }

    .footerInfo {
        flex-direction: column-reverse;
        text-align: center;
    }

    .rights {
        margin-top: 0;
    }

    .contacts {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .item4__container {
        margin-bottom: 64px;
    }
}