.product__footer {
    padding-top: 0;
    height: 535px;
}

.prod__image {
    width: 100%;
}

.arrows {
    width: 100%;
    position: absolute;
    top: 555px;
    display: flex;
    justify-content: space-between;
}

.arrow__bgc {
    background-color: lightgray;
    padding: 10px;
}

.arrow__bgc:hover {
    cursor: pointer;
}

.product__description {
    max-width: 642px;
    align-items: center;
}

.product__container {
    position: relative;
    width: 100%;
    text-align: center;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    min-height: 580px;
    margin-top: -64px;
}

.collection {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-bottom: 12px;
    padding-top: 64px;
}

.prod__heading {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 12px;
    padding-bottom: 48px;
}

.prod__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    padding-bottom: 32px;
}

.prod__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.svg__padding {
    padding-bottom: 64px;
}

.nav__padding {
    padding-bottom: 49px;
}

.product__button {
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    background: white;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    padding: 14px 38px;
}

.prod__margin {
    margin-bottom: 128px;
    margin-top: 128px;
}